
<div class="info-block">
  <form #programForm="ngForm" (ngSubmit)="onAddProgram(programForm.value)">
    <!-- <div class="info-block"> -->
      <h2 class="info-block__heading">Add Program</h2>
      <div class="info-block__body grid grid--col-2">
        <div class="form-group">
          <label for="program">Program</label>
          <select name="program" id="program" class="form-control" [(ngModel)]="selectedProgram"
          (change)="onProgramChange($event)">
            <option [ngValue]="{ id: -1, programName: 'no selection' }" disabled>Select a program</option>
            <option *ngFor="let program of programs" [ngValue]="program">
              {{ program.programName }}
            </option>
          </select>
          <!-- Display selected program for debugging -->
           <p>Selected Program: {{ selectedProgram | json }}</p>
        </div>
        <div class="form-group main-col--full">
          <label for="comments">Comments</label>
          <input
            type="text"
            class="form-control"
            name="comments"
            id="comments"
            placeholder="Comments"
            #comments="ngModel"
            ngModel
          />
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Add Program</button>
        </div>
        <app-student-programs-list class="main-col--full" [studentId]="studentId"></app-student-programs-list>
      </div>
  </form>
</div>
