<div>
    <ul class="tabs__tab-bars">
      <li class="tabs__tab" ><a [routerLink]="['/home/students', student.stakeholderID, 'contact']">Contact Info</a></li>
      <li class="tabs__tab" ><a [routerLink]="['/home/students', student.stakeholderID, 'program']">Program</a></li>
      <li class="tabs__tab" ><a [routerLink]="['/home/students', student.stakeholderID, 'courses']">Courses</a></li>
      <li class="tabs__tab" ><a [routerLink]="['/home/students', student.stakeholderID, 'instruments']">Instruments</a></li>
      <li class="tabs__tab" ><a [routerLink]="['/home/students', student.stakeholderID, 'documents']">Documents</a></li>
      <li class="tabs__tab" ><a [routerLink]="['/home/students', student.stakeholderID, 'finances']">Financial Information</a></li>
      <li class="tabs__tab" ><a [routerLink]="['/home/students', student.stakeholderID, 'exams']">Exams</a></li>
    </ul>
</div>
<div>
  <router-outlet></router-outlet>
</div>
