.main-container{
  display: grid;
  grid-template-columns: 15% auto;
  background-color: #eee;
}

app-nav-left{
  grid-column: 0;
  display: block;
  padding: 0;
  margin: 0;
  background-color: #000;
}

app-content-main{
  padding: 1rem 2rem;
}

.test{
  padding: 0;
  margin: 0;
}
